
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Asap&family=Cedarville+Cursive&family=Open+Sans:ital,wght@0,300;1,300&display=swap");
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
    // &:hover{background-color: rgba(0, 0, 255, 0.062);}
}

img{width: 100%;}

li{list-style-type: none;}

ul li{
    padding: 10px;
    font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6{padding: 10px;}

p{
    padding: 5px 10px;
    font-size: 1.2em;
}

#modal{
  position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;
}
#preLoader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
        width: 200px;
        animation: pre-loader-spin infinite 3s linear;
        *{font-size: 2em;}
    }
}
@keyframes pre-loader-spin {
    0% {
        width: 0;
    }
    100% {
        width: 200px;
    }
  }

//fade in and out
.reveal {
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-in {
    animation: fade-in 0.5s;
  }
  @keyframes fade-in {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }