@import '../base/mixins';
@import '../base/colors';

header{
    z-index: 1000;
    position: fixed;
    box-shadow: rgba(12, 12, 12, 0.281) 0px 25px 50px -12px;
    .active{border-bottom: 4px solid $primary;}
    .btn-menu{
        position: relative;
        top: 2px;
        transform: scale(1.4,1)
    }
    .nav-bars{
        @include grid-container (4);
        justify-items: space-between;
        align-items: center;
        .nav-item{
            margin: 8px 0;
            justify-self: center;
            font-size: 1.1em;
            font-weight: 500;
            cursor: pointer;
            transition: 1s;
            &:hover{
                transform: scale(1.1,1.1);
            }
        }
    }
    @include respond(laptop){
        .nav-item{
            justify-self: end;
        }
    }
    
    @include respond(mobile){
        height: auto;
        padding: 8px 0;
        nav{
            margin-top: 10px;
            height: 90vh;
        }
        .nav-bars{
            display: block;
            margin-top: 20px;
            .nav-item{
                display: block;
                padding: 20px;
                border-bottom: 1px solid gainsboro;
            }
        }
    }
}
.logo{
    display: block;
    margin-left: 10px;
    font-size: 1.4em;
    width: max-content;
    
}
//still on testing 
.drop-down{
    position: relative;
    .drop-item{
        position: absolute;
        top: -300px;
        left: -20px;
        width: 140px;
        opacity: 0;
        transition: 0.5s;
        border: 1px solid gainsboro;
    }
    &:hover{
        .drop-item{
            opacity: 1;
            top: 25px;
        }
    }
    @include respond(mobile){
        .drop-item{position: static;}
    }
}